<h1>Ajouter une nouvelle tâche</h1>

<%= form_with(model: @task, url: tasks_path) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div>
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <div>
    <%= form.submit "Ajouter la tâche" %>
  </div>
<% end %>

<%= link_to 'Retour à la liste des tâches', tasks_path %>